.Media{
  padding: 0 1em;
  padding-top: calc(var(--header-height) * 1.5);
  padding-bottom: 2em;
  @include from(m){
    // padding-left: 10%;
    // padding-right: 10%;
  }
  @include from(lg) {
    padding-left: 0;
    // padding: 0;
  }
    @include from(lg) {
      max-width: 100%;
      margin: 0 auto;
      // padding: 3em;
    }
  h1{
    text-align: center;
  }
}
.video-container{
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  @include from(700px){
    grid-template-columns: repeat(2, 1fr);
  }
  @include from(1025px){
    grid-template-columns: repeat(3, 1fr);
  }
  @include from(xl){
    gap: 2.5em;
    // opacity: 0;
    // grid-template-columns: repeat(4,1fr);
  }
}
.video-container{

}
.video{
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;
  &::after{
    cursor: ponter;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000,.85);
    top: 0;
    left: 0;
    z-index: 10;
    background: url('/img/play.svg') center / 10% no-repeat, rgba(#000, .95);
  }
  .layer-copy{
    position: absolute;
    top: var(--top);
    left: var(--left);
    z-index: 1500;
    background-color: rgba(#fff,.1);
    color: rgba(#000, .3);
    font-size: 1em;
    padding: 0 1em;
    line-height: 1.5em;
    // opacity: .3;
  }
  &:not(.play) .layer-copy{
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    font-size: 1.2em;
    padding: 0 1em;
    line-height: 1.5em;
    // opacity: .3;
  }
  // &::before{
  //   content: attr(title);
  //   position: absolute;
  //   top: var(--top);
  //   left: var(--left);
  //   color: #000;
  //   z-index: 1005;
  //   background-color: rgba(#fff,.05);
  //   color: #000;
  //   line-height: 2em;
  //   padding: 0 1em;
  //   opacity: .3;
  //   font-size: 1.5em;
  // }
  &.play{
    &::after{
      display: none;
    }
  }
  &:not(.play){
    &::before{
      background-color: lime;
      font-size: 3em;
      top: unset;
      left: 50%;
      bottom: 20%;
      transform: translateX(-50%);
      padding: 0 1em;
      line-height: 2em;
    }
  }
  video{
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 0;
  }
  &__control{
    background-color: rgba(#000,.75);
    transform: translateY(100%);
    transition: transform .5s;
    position: absolute;
    color: aliceblue;
    bottom: 0;
    left: 0;
    padding: 0 1em;
    height: 4em;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    align-items: center;
    column-gap: 1em;
    font-size: 1.1em;
    @include to(lg){
      bottom: unset;
      top: 0;
      grid-template-columns: auto auto auto;
      transform: translateY(-100%);
    }
    .video__progress{
      display: block;
      // border: none;
      width: 100%;
      // appearance: none;
      // border: none ;
      @include to(lg) {
        display: none;
      }
    }
    // ::progress-bar{
    //   background-color: brown;
    // }
    // ::-webkit-progress-bar-value{
    //   background-color: red;
    // }
    button{
      cursor: pointer;
      border: none;
      color: inherit;
      background-color: transparent;
      line-height: 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      transition: color .2s;
      &:hover{
        color: #aaa;
      }
      i{
        transform: translateY(2px);
      }
    }
  }
  &:hover &__control{
    transform: translate(0);
    z-index: 20;
  }
}

.video-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  // ma
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;;
  z-index: 200000;
  .video-fullscreen{
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;
    @include to(1400px){
      aspect-ratio: 16/7.2;

    }
  }
  video{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .modal-player{
    top: unset;
    bottom: 0;
  }
}
.video__duration{
  @include to(lg){
    display: none;
  }
}
